@import url('https://fonts.googleapis.com/css?family=Assistant|Bebas+Neue&display=swap');

.nav{
  background-color: rgb(216, 176, 66);
  line-height: 3rem;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.App-logo{
  margin-right: 1.3rem;
  margin-left: 0.8rem;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  color: #eee;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link{
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

.login-view{
  height: 100vh;
  display: flex;
}
.logout-btn, .login-btn, .btn{
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 8px;
  margin: 0 1rem;
  font-weight: bold;
}

.logout-btn:focus, .login-btn:focus, .cancel-btn:focus, .signup-btn:focus, .logout-btn:visited, .logout-btn:active{
  background-color: rgb(243, 229, 189);
  outline: none;
}

.logout-btn:hover{
  cursor: pointer;
}

.nav-notification{
  height: 2rem;
  padding: 0.3rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.success{
  color: rgb(50, 161, 143);
}

.error{
  color: rgb(241, 78, 78);
}

.success, .error{
  text-transform: capitalize;
  font-weight: bold;
}

.toggle{
  margin: 0 auto;
  display: flex;
}

.toggle-content{
  height: 80vh;
  width: 50vw;
  margin: 0 auto;
}

h2, h3{
  text-align: center;
}

form{
  margin: 0 auto;
  width: 50%;
}

.form-row {
  margin: 1rem auto;
  width: 70%;
}

.form-row label{
  padding: 0.5rem 0.5rem 0.5rem 0;
  
}

.form-row input{
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 100%;
}

.blogs{
  margin: 1rem auto;  width: 80%;
}

.login-div{
  margin: auto;
}

.login-btn{
  border: 1px solid #bdb
}

.login-btn:hover, .login-btn:active, .btn{
  background-color: rgb(216, 176, 66);
  cursor: pointer;
  color: #fff;
}

.blogs-exist{
  text-align: center;
  color: rgb(233, 177, 23);
  font-weight: bolder;
}

.submit-row{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}

.submit-btn{
  padding: 0.3rem 1rem;
  width: 45%;
}

.submit-btn:hover{
  border: 2px solid rgb(216, 176, 66);
  color: rgb(216, 176, 66);
  background: none;
}


.cancel-btn, .signup-btn{
  background: none;
  border: none;
  font-style: italic;
}
.cancel-btn:hover, .signup-btn:hover{
  color: red;
  font-weight: bolder;
  cursor: pointer;
}
.signup-btn:hover{
  color: green;
}

.cancel-btn:focus, .signup-btn:focus{
  background: none;
}

.blogs a{
  text-decoration: none;
}

.blog p{
  font-weight: bold;
  color: inherit;
}

.blog{
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
.blog:hover{
  border: 2px solid rgb(233, 177, 23);
  cursor: pointer;
  color: green;
}

.added-by{
  color: rgb(142, 114, 37);
  outline: #aaa;
  font-weight: normal;
}

.short, .expandedLong {
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.short:hover, .expandedLong:hover{
  font-weight: bolder;
}

.users{
  width: 70%;
  margin: 0 auto;
}

.users-list{
  margin: 0 auto;
  width: 80%;
}

.users-list>table{
  margin: 1rem auto;
}

.user-name, .user-blogs{
  padding: 0.7rem
}

.user-blogs{
  text-align: center;
}

.user-name a, .blog-item a, .blog-link a{
  text-decoration: none;
  color: green;
}
.user-name a:active, .user-name a:hover, .user-name a:visited, .blog-item a:active, .blog-item a:visited, .blog-item a:hover,
.blog-link a:active, .blog-link:visited, .blog-link:hover {
  color: green;
}

.user-blog-list{
  width: 70%;
  margin: 0 auto;
}
.user-blog-list ul{
  margin-left: 1rem;
}

.user-blog-list h4{
  margin-top: 1rem;
}

.blog-item{
  margin: 1rem auto;
}

.blog-detail{
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

.blog-detail ul{
  list-style-type: none;
}


.blog-title{
  text-transform: capitalize;
}

.blog-added-by, .blog-link{
  text-align: center
}

.blog-added-by{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.add-comment-btn, .delete-blog-btn{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 0;
}

.add-comment-btn:hover{
  border: 1px solid rgb(177, 143, 49);
  color: rgb(177, 143, 49);

}

.like-btn{
  border: 1px solid black;
  margin: 0;
  background-color: rgb(7, 154, 137);
  padding: 0.1rem 0.5rem;
  border-radius: 0;
}

.like-btn:active, .like-btn:hover{
  background-color: green;
}

.delete-blog-btn:hover{
  border: 1px solid red;
  color: red;
}

.row input{
  margin-bottom: 0;
}

.div-submit{
  margin-top: 0;
  padding: 0;
}

.comment{
  margin-top: 1rem;
}

.main{
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 700px){
  .submit-row{
    padding: 1px;
  }
  .submit-btn{
    width: 100%;
  }
  form{
    width: 100%;
    margin: 0;
  }
  .form-row{
    text-align: left;
  }
  .form-row input{
    width: 100%;
  }
}